@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    Layout = null;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.mins.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}
<!DOCTYPE html>
  
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <header>
        @Umbraco.RenderMacro("MainMenu")
    </header>
    <content>
            @RenderBody()
    </content>
    <footer>

    </footer>
    <script src="~/scripts/jquery-2.1.4.js"></script>
    <script src="~/scripts/jquery-2.1.4.min.js"></script>
    <script src="~/scripts/jquery-2.1.4.intellisense.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    
</body>
</html>