<access>
  <page id="1070" loginPage="1090" noRightsPage="1087" simple="False">
    <group id="Active" />
  </page>
  <page id="1098" loginPage="1090" noRightsPage="1087" simple="False">
    <group id="Active" />
    <group id="Prospect" />
  </page>
  <page id="1101" loginPage="1090" noRightsPage="1087" simple="False">
    <group id="Active" />
    <group id="Prospect" />
  </page>
</access>