<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Articlesitem ANY>
<!ATTLIST Articlesitem id ID #REQUIRED>
<!ELEMENT Articlesmain ANY>
<!ATTLIST Articlesmain id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Login ANY>
<!ATTLIST Login id ID #REQUIRED>
<!ELEMENT MailComment ANY>
<!ATTLIST MailComment id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Members ANY>
<!ATTLIST Members id ID #REQUIRED>
<!ELEMENT Projectsitem ANY>
<!ATTLIST Projectsitem id ID #REQUIRED>
<!ELEMENT Projectsmain ANY>
<!ATTLIST Projectsmain id ID #REQUIRED>
<!ELEMENT Registermember ANY>
<!ATTLIST Registermember id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-23T12:13:49" updateDate="2015-09-23T12:13:49" nodeName="Eaaa Web Developer" urlName="eaaa-web-developer" path="-1,1068" isDoc="" nodeType="1049" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1064" nodeTypeAlias="Home">
    <pagetitle><![CDATA[Aarhus Businessacademy Web Developer ]]></pagetitle>
    <umbracoNaviHide>0</umbracoNaviHide>
    <Articlesmain id="1069" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2015-09-23T12:14:40" updateDate="2015-10-30T17:29:54" nodeName="Articles" urlName="articles" path="-1,1068,1069" isDoc="" nodeType="1053" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1062" nodeTypeAlias="Articlesmain">
      <pagetitle><![CDATA[Web Articles]]></pagetitle>
      <pagecontent><![CDATA[Her er en oversigt over Artikler]]></pagecontent>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
      <imageslide><![CDATA[1122,1123]]></imageslide>
      <Articlesitem id="1111" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2015-10-30T15:23:58" updateDate="2015-10-30T15:35:41" nodeName="Detter er en lækker artikkel" urlName="detter-er-en-laekker-artikkel" path="-1,1068,1069,1111" isDoc="" nodeType="1055" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1065" nodeTypeAlias="Articlesitem">
        <pagetitle><![CDATA[Detter er en lækker artikkel]]></pagetitle>
        <pagecontent><![CDATA[Aenean tortor mi, consequat blandit ornare tincidunt, scelerisque at risus. Proin ut facilisis lectus. Aenean non rutrum mauris. Ut viverra ultrices lectus in elementum. Praesent nec arcu et dui gravida ullamcorper. Nulla mollis dui est, ut maximus orci blandit non. Nulla sit amet diam sollicitudin, gravida ex pharetra, fringilla lacus.

Nam vel consectetur ipsum, eget accumsan nisi. Morbi porttitor nibh nec eleifend bibendum. Phasellus ultrices ex in velit tincidunt malesuada. 

Praesent nec arcu et dui gravida ullamcorper. Nulla mollis dui est, ut maximus orci blandit non. Nulla sit amet diam sollicitudin, gravida ex pharetra, fringilla lacus.]]></pagecontent>
        <umbracoNaviHide>0</umbracoNaviHide>
        <displaydropdown>0</displaydropdown>
        <pageimage><![CDATA[/media/1004/strand.jpg]]></pageimage>
      </Articlesitem>
      <Articlesitem id="1115" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2015-10-30T15:37:04" updateDate="2015-10-30T15:38:34" nodeName="Vi skal se flere lækre artikler" urlName="vi-skal-se-flere-laekre-artikler" path="-1,1068,1069,1115" isDoc="" nodeType="1055" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1065" nodeTypeAlias="Articlesitem">
        <pagetitle><![CDATA[Vi skal se flere lækre artikler]]></pagetitle>
        <pagecontent><![CDATA[Curabitur euismod sed ipsum ac elementum. Pellentesque dictum sodales libero non dapibus. Nunc quis lacus ac dolor pretium porta sed id dolor. Donec fermentum dui purus, eu malesuada orci bibendum ut. Ut turpis eros, malesuada dictum purus id, iaculis posuere odio. 

Aliquam sagittis ut metus ac vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt sapien tortor, quis rutrum nibh sagittis a. Ut imperdiet, nulla at condimentum faucibus, quam quam vehicula arcu. 

sed sodales dolor dolor at dolor. Phasellus sollicitudin sit amet ex non vulputate. Vivamus condimentum velit turpis, at porta sapien convallis sit amet.]]></pagecontent>
        <umbracoNaviHide>0</umbracoNaviHide>
        <displaydropdown>0</displaydropdown>
        <pageimage><![CDATA[/media/1006/tiger.jpg]]></pageimage>
      </Articlesitem>
    </Articlesmain>
    <Projectsmain id="1070" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2015-09-23T12:15:02" updateDate="2015-10-30T15:54:39" nodeName="Projects" urlName="projects" path="-1,1068,1070" isDoc="" nodeType="1057" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1066" nodeTypeAlias="Projectsmain">
      <pagetitle><![CDATA[Web Projects]]></pagetitle>
      <pagecontent><![CDATA[Her er der en oversigt over projecter]]></pagecontent>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>1</displaydropdown>
      <imageslide><![CDATA[1117]]></imageslide>
      <Projectsitem id="1073" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2015-09-23T13:27:50" updateDate="2015-10-30T15:38:43" nodeName="Randers newspaper disastor" urlName="randers-newspaper-disastor" path="-1,1068,1070,1073" isDoc="" nodeType="1059" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1067" nodeTypeAlias="Projectsitem">
        <pagetitle><![CDATA[Randers did type some random shit today]]></pagetitle>
        <pagecontent><![CDATA[Aenean tortor mi, consequat blandit ornare tincidunt, scelerisque at risus. Proin ut facilisis lectus. Aenean non rutrum mauris. Ut viverra ultrices lectus in elementum. Praesent nec arcu et dui gravida ullamcorper. Nulla mollis dui est, ut maximus orci blandit non. Nulla sit amet diam sollicitudin, gravida ex pharetra, fringilla lacus.

Nam vel consectetur ipsum, eget accumsan nisi. Morbi porttitor nibh nec eleifend bibendum. Phasellus ultrices ex in velit tincidunt malesuada. 

Praesent nec arcu et dui gravida ullamcorper. Nulla mollis dui est, ut maximus orci blandit non. Nulla sit amet diam sollicitudin, gravida ex pharetra, fringilla lacus.]]></pagecontent>
        <umbracoNaviHide>0</umbracoNaviHide>
        <displaydropdown>0</displaydropdown>
        <pageimae><![CDATA[/media/1005/winter-tiger-wild-cat-images.jpg]]></pageimae>
      </Projectsitem>
      <Projectsitem id="1116" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2015-10-30T15:38:23" updateDate="2015-10-30T15:38:38" nodeName="Den flotte Missekate" urlName="den-flotte-missekate" path="-1,1068,1070,1116" isDoc="" nodeType="1059" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1067" nodeTypeAlias="Projectsitem">
        <pagetitle><![CDATA[Den flotte Missekate]]></pagetitle>
        <pagecontent><![CDATA[Curabitur euismod sed ipsum ac elementum. Pellentesque dictum sodales libero non dapibus. Nunc quis lacus ac dolor pretium porta sed id dolor. Donec fermentum dui purus, eu malesuada orci bibendum ut. Ut turpis eros, malesuada dictum purus id, iaculis posuere odio. 

Aliquam sagittis ut metus ac vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt sapien tortor, quis rutrum nibh sagittis a. Ut imperdiet, nulla at condimentum faucibus, quam quam vehicula arcu, sed sodales dolor dolor at dolor. Phasellus sollicitudin sit amet ex non vulputate. Vivamus condimentum velit turpis, at porta sapien convallis sit amet.]]></pagecontent>
        <umbracoNaviHide>0</umbracoNaviHide>
        <displaydropdown>0</displaydropdown>
        <pageimae><![CDATA[/media/1007/tiger.jpg]]></pageimae>
      </Projectsitem>
    </Projectsmain>
    <Textpage id="1071" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2015-09-23T12:15:32" updateDate="2015-10-30T19:37:14" nodeName="About" urlName="about" path="-1,1068,1071" isDoc="" nodeType="1051" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1063" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[About Us]]></pagetitle>
      <pagecontent><![CDATA[Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer commodo tortor justo. Proin dignissim tellus ac arcu vestibulum rutrum. Sed vel ex et purus feugiat lacinia]]></pagecontent>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
      <gridLayout><![CDATA[{
  "name": "3 column layout",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "ca07cf1f-b0e6-1fcf-759d-8036fb8f54b7"
        },
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p><span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </span></p>\n<p><span>Integer commodo tortor justo. Proin dignissim tellus ac arcu vestibulum rutrum. Sed vel ex et purus feugiat lacinia</span></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "3a213037-d1a0-e003-4cf5-4ce74a6e246c"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "7691d2a6-07f2-cff0-fb4f-cf26ab77701f"
        },
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p><span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia </span></p>\n<p><span>Curae; Integer commodo tortor justo. Proin dignissim tellus ac arcu vestibulum rutrum. </span></p>\n<p><span>Sed vel ex et purus feugiat lacinia</span></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "e7941d5f-d888-4284-e84a-1e18be381457"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "d36db545-fbd0-453e-f9eb-b806fb556f26"
        },
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p><span>Vestibulum ante ipsum primis in </span></p>\n<p><span>faucibus orci luctus et ultrices posuere cubilia Curae; Integer commodo tortor justo. </span></p>\n<p><span>Proin dignissim tellus ac arcu vestibulum rutrum. Sed vel ex et purus feugiat lacinia</span></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "f600f8c1-ec9b-5109-88f6-33ff37404bce"
        }
      ]
    }
  ]
}]]></gridLayout>
    </Textpage>
    <Contact id="1076" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2015-10-06T10:35:45" updateDate="2015-10-06T10:36:08" nodeName="Contact" urlName="contact" path="-1,1068,1076" isDoc="" nodeType="1075" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1074" nodeTypeAlias="Contact">
      <pagetitle><![CDATA[Contact]]></pagetitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
      <MailComment id="1095" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2015-10-27T22:18:47" updateDate="2015-10-27T22:24:52" nodeName="Det er nice form" urlName="det-er-nice-form" path="-1,1068,1076,1095" isDoc="" nodeType="1093" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="0" nodeTypeAlias="MailComment">
        <umbraconavihide>0</umbraconavihide>
        <name><![CDATA[Ronnie]]></name>
        <email><![CDATA[moeller120589@gmail.com]]></email>
        <subject><![CDATA[Det er nice form]]></subject>
        <message><![CDATA[Beskeden er mega nice]]></message>
      </MailComment>
    </Contact>
    <Textpage id="1087" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2015-10-26T11:14:41" updateDate="2015-10-26T11:14:41" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1068,1087" isDoc="" nodeType="1051" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1063" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[No Permission]]></pagetitle>
      <pagecontent><![CDATA[U have no permission to view this page]]></pagecontent>
      <umbracoNaviHide>1</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
    </Textpage>
    <Textpage id="1090" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2015-10-26T11:33:19" updateDate="2015-10-26T11:33:19" nodeName="LoginGhost" urlName="loginghost" path="-1,1068,1090" isDoc="" nodeType="1051" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1063" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[LoginGhost]]></pagetitle>
      <umbracoNaviHide>1</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
    </Textpage>
    <Members id="1101" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2015-10-30T11:15:31" updateDate="2015-10-30T12:15:56" nodeName="Members" urlName="members" path="-1,1068,1101" isDoc="" nodeType="1100" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1099" nodeTypeAlias="Members">
      <pagetitle><![CDATA[Members]]></pagetitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>1</displaydropdown>
      <memberlist><![CDATA[1085,Prospect,Active]]></memberlist>
    </Members>
    <Registermember id="1106" parentID="1068" level="2" creatorID="0" sortOrder="7" createDate="2015-10-30T12:44:04" updateDate="2015-10-30T12:44:04" nodeName="Register" urlName="register" path="-1,1068,1106" isDoc="" nodeType="1105" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1104" nodeTypeAlias="Registermember">
      <pagetitle><![CDATA[Register]]></pagetitle>
      <umbracoNaviHide>1</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
    </Registermember>
  </Home>
</root>