/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
* {
}
.Plogin-Form-adjust {
    padding: 10px 10px 10px 0px;
    color:white;
}

.Plogout-Form-adjust {
    padding: 15px 10px 0px 0px;
    color: white;
}

.Login-Button{
    margin:10px 10px 0px 0px;
}

content{
    position: absolute;
    top: 50px;
    width: 100%;
}

