<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Articlesitem ANY>
<!ATTLIST Articlesitem id ID #REQUIRED>
<!ELEMENT Articlesmain ANY>
<!ATTLIST Articlesmain id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Projectsitem ANY>
<!ATTLIST Projectsitem id ID #REQUIRED>
<!ELEMENT Projectsmain ANY>
<!ATTLIST Projectsmain id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-23T12:13:49" updateDate="2015-09-23T12:13:49" nodeName="Eaaa Web Developer" urlName="eaaa-web-developer" path="-1,1068" isDoc="" nodeType="1049" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1064" nodeTypeAlias="Home">
    <pagetitle><![CDATA[Aarhus Businessacademy Web Developer ]]></pagetitle>
    <umbracoNaviHide>0</umbracoNaviHide>
    <Articlesmain id="1069" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2015-09-23T12:14:40" updateDate="2015-10-06T09:59:15" nodeName="Articles" urlName="articles" path="-1,1068,1069" isDoc="" nodeType="1053" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1062" nodeTypeAlias="Articlesmain">
      <pagetitle><![CDATA[Web Articles]]></pagetitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>1</displaydropdown>
    </Articlesmain>
    <Projectsmain id="1070" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2015-09-23T12:15:02" updateDate="2015-10-06T10:00:19" nodeName="Projects" urlName="projects" path="-1,1068,1070" isDoc="" nodeType="1057" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1066" nodeTypeAlias="Projectsmain">
      <pagetitle><![CDATA[Web Projects]]></pagetitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>1</displaydropdown>
      <Projectsitem id="1073" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2015-09-23T13:27:50" updateDate="2015-10-06T09:59:46" nodeName="Randers newspaper disastor" urlName="randers-newspaper-disastor" path="-1,1068,1070,1073" isDoc="" nodeType="1059" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1067" nodeTypeAlias="Projectsitem">
        <pagetitle><![CDATA[Randers did type some random shit today]]></pagetitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <displaydropdown>0</displaydropdown>
      </Projectsitem>
    </Projectsmain>
    <Textpage id="1071" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2015-09-23T12:15:32" updateDate="2015-10-20T14:35:17" nodeName="About" urlName="about" path="-1,1068,1071" isDoc="" nodeType="1051" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1063" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[About Us]]></pagetitle>
      <pagecontent><![CDATA[yo]]></pagecontent>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
      <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Wide",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "hello",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                },
                {
                  "value": "<p>im text</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "3199451a-dad1-3ed0-1993-4072e40569e0"
        }
      ]
    }
  ]
}]]></gridLayout>
    </Textpage>
    <Contact id="1076" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2015-10-06T10:35:45" updateDate="2015-10-06T10:36:08" nodeName="Contact" urlName="contact" path="-1,1068,1076" isDoc="" nodeType="1075" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1074" nodeTypeAlias="Contact">
      <pagetitle><![CDATA[Contact]]></pagetitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <displaydropdown>0</displaydropdown>
    </Contact>
  </Home>
</root>