/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
* {
}
.Plogin-Form-adjust {
    padding: 10px 20px 10px 0px;
    color:white;
}

content{
    position: absolute;
    top: 50px;
}



